body{
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
    height:100%;
}

pre{
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;

}

pre code {
	padding: 10px;
    color: #333;
    font-size: 16px;
}


#wrapper{
    min-height: 100vh;
}

#body{
    overflow: auto;
    padding-bottom: 30px;
}


.brandNav{
    font-family: 'Parisienne', cursive;
    font-size: 30px;
    font-weight: bold;
    color: rgb(204, 204, 204);
}

.brandNav:hover{
    color: rgb(143, 143, 143);
}

.fontNav{
    font-size: 17px;
    color: rgb(204, 204, 204);
}

.fontNav:hover{
    color: rgb(143, 143, 143);
}

.navBorder{
    border-bottom: 2px solid rgb(207, 207, 207);
    background-color: rgb(0, 0, 0);
}


.headSection{
    height: 250px;
    background-image: url(../img/cool-background.png);
}

.heroFont{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding-top: 70px;
    font-size: 70px;
}

.pHero{
    text-align: center;
    letter-spacing: 4px;
    color: rgb(77, 77, 77)
}

.togglerWhite{
    color: aliceblue;
}

.titlePost{
    font-family: 'Lobster Two', cursive;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 35px;
}

.dataPost{
    color: rgb(150, 148, 148);
}

.tags{
    display: inline;
}

.blogSection{
    margin-top: 20px;
}   

.contentPost{
    padding-top: 20px;
}


.contentPost p{
    font-size: 20px;
}

.postSection{
    margin-bottom: 20px;
    padding: 10px;
    border: 0px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 3px 0px 0px 0px #7a90ff;
    -moz-box-shadow: 3px 0px 0px 0px #7a90ff;
    box-shadow: 3px 0px 0px 0px #7a90ff;
}

.postSection:hover{
    background-color: rgb(246, 247, 250);
}

.leiaMais{
    font-family: 'Lobster Two', cursive;
    color: rgb(76, 0, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.leiaMais:hover{
    color: rgb(145, 97, 255);
    text-decoration: none;
}

#footerSection{
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-top: -30px;
    /* negative value of footer height */
    height: 30px;
    clear: both;
}

#footerSection p{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0 0;
}



.PostField{
    margin-top: 70px;
    margin-bottom: 40px;
}

.fieldTitle{
    font-family: 'Lobster Two', cursive;
    font-size: 70px;
    margin-bottom: 40px;
}


.fieldContent p{
    font-size: 20px;
    padding-bottom: 40px;
}

.fieldContent img{
    padding-bottom: 10px;
    padding-top: 10px;

    max-width: 100%;
}

.fieldContent h3{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

#errorH{
    text-align: center;
}

#sobreP{
    text-align: center;
    font-size: 20px;
    color: rgb(68, 68, 68);
    letter-spacing: 1px;
}

.redesSociais{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin: o auto;
}

.redesSociais a{
    color: rgb(0, 0, 0);
}

.redesSociais ion-icon:hover{
    color: rgb(92, 91, 91);
}




@media print {
	pre {
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap !important;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
		background: #fff;
	}
}